@model IEnumerable<Locations.Models.Location>

<html>
<head>
    <title>Location List</title>
</head>
<body>
    <h2>Location List</h2>
    <p>@Html.ActionLink("Location list", "Index", "Locations")</p>
</body>
</html>